apiVersion: v1
kind: Secret
metadata:
  name: s3-creds
  namespace: "{{ helm_rancher_backup_release_namespace }}"
type: Opaque
stringData:
  accessKey: "{{ rancher_backup_access_key }}"
  secretKey: "{{ rancher_backup_secret_key }}"