apiVersion: apiserver.config.k8s.io/v1
kind: EncryptionConfiguration
metadata:
  namespace: "{{ helm_rancher_backup_release_namespace }}"
resources:
  - resources:
      - secrets
    providers:
      - secretbox:
          keys:
            - name: key1
              secret: "{{ rancher_backup_encryption_config_secretbox }}"